@page "/delivery"
@using ProiectCofetarie.Data
@inject WeatherForecastService ForecastService
@inject ListaComenzi comanda


<main>
	<h2>Ce doriti sa comandati?</h2>
	<h2>  </h2>
	<form>
		<label for="nume">Nume:</label>
		<input type="text" id="nume" name="nume" required>
		<h3> </h3>
		<br>

		<label for="telefon">Telefon:</label>
		<input type="tel" id="telefon" name="telefon" required>
		<br>

		<label for="adresa">Adresa:</label>
		<input type="adresa" id="adresa" name="adresa" required>
		<br

		<label for="observatii">Observații:</label>
		<textarea id="observatii" name="observatii"></textarea>
		<br>

		<input type="submit" value="Trimite comanda">
	</form>
</main>



<div>
	<button type="submit" class="signup" @onclick="SariPeAltaPagina">Sign Up</button>
</div>

<p role="status">Current count: @comandaCurenta</p>
<style>
	.container {
		border: 2px solid #ccc;
		width: 300px;
		height: 100px;
		overflow-y: scroll;
</style>

@code {
	
	public String comandaCurenta;


	public void SariPeAltaPagina()
	{
		foreach(var s in comanda)
		{
			comandaCurenta += " " + s;
			
		}
		
	}
}
