@page "/delivery"
@using ProiectCofetarie.Data
@inject WeatherForecastService ForecastService
@inject ListaComenzi comanda
<div>
<h1>VIZUALIZARE COMANDA</h1>
<select asp-for="SelectedString" class="form-control">
	@foreach (var item in comanda)
	{
		<option value="@item">@item</option>
	}
</select>
</div>
<div>
	<h3>Pentru a sterge un element din comanda introduceti numele apoi apasati butonul</h3>
</div>
<div>
	<InputText DisplayName="email" @bind-Value="prod"></InputText>
	<button type="submit" class="deletefromlist" @onclick="DeleteFromlist">Sterge</button>

</div>

<main>
	<h2>Ce doriti sa comandati?</h2>
	<h2>  </h2>
	<form>
		<label for="nume">Nume:</label>
		<input type="text" id="nume" name="nume" required>
		<h3> </h3>
		<br>

		<label for="telefon">Telefon:</label>
		<input type="tel" id="telefon" name="telefon" required>
		<br>

		<label for="adresa">Adresa:</label>
		<input type="adresa" id="adresa" name="adresa" required>
		<br

		<label for="observatii">Observații:</label>
		<textarea id="observatii" name="observatii"></textarea>
		<br>

		<input type="submit" value="Trimite comanda">
	</form>
</main>


<div>
	<InputText DisplayName="email" @bind-Value="prod"></InputText>
	<button type="submit" class="deletefromlist" @onclick="DeleteFromlist">Sterge</button>

</div>


<style>
	.container {
		border: 2px solid #ccc;
		width: 300px;
		height: 100px;
		overflow-y: scroll;
		h1{
			text-align:center;
		}
</style>

@code {

	public String comandaCurenta;
	public String prod;

	public void SariPeAltaPagina()
	{
		foreach(var s in comanda)
		{
			comandaCurenta += " " + s;

		}

	}
	public void DeleteFromlist()
	{
		foreach (var s in comanda)
		{
			if (s == prod)
			{
				comanda.Remove(s);
				comandaCurenta = "";
				break;
			}
		}
	}
}
