@page "/login"
<PageTitle>Login Page</PageTitle>

<h3>Login</h3>
<InputText DisplayName="username" @bind-Value="username"></InputText>
<InputText DisplayName="password"  @bind-Value="password"></InputText>

@code {
    private string? username{ get; set; }
    private string? password{ get; set; }
}
